.body {
    width: 100%;
    overflow-y: auto;
    overflow-y: overlay;
    color: white;
    background-color: #603f8b;
    scrollbar-width: none;

    &:-webkit-scrollbar {
        display: none;
    }

    &__inner {
        padding: 30px;
        height: max-content;
        min-height: 100%;
        background: linear-gradient(transparent, #121212 calc(max(20%, 420px)));
    }

    &__info {
        display: flex;
        align-items: flex-end;
        padding: 10px;

        img {
            height: 20vw;
            margin: 0 20px;
            box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
        }
    }

    &__shuffle {
        font-size: 80px !important;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;

        &:hover {
            transition: 100ms transform ease-in;
            transform: scale(1.08);
        }
    }

    &__icons {
        display: flex;
        align-items: center;

        .MuiSvgIcon-root {
            margin-right: 20px;
        }
    }

    &__background {
        position: absolute;
        top: 13vh;
        right: 0;
        opacity: 0.4;
        height: 80%;
        width: 80%;
        background-color: black;
    }

    &__songs {
        z-index: 1;
        margin: 20px -30px;
    }

    &__infoText {
        flex: 1;

        h2 {
            font-size: 48px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
        }
    }
}
