.player {
    display: flex;
    flex-direction: column;

    &__body {
        display: flex;
        flex-grow: 1;
        height: calc(100vh - 100px);
    }
}

.error_msg,
.spinner-grow {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.error_msg {
    width: max-content;
    text-align: center;
    top: 30%;
    z-index: 9;
    max-width: calc(min(500px, 90%));
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow 0.75s linear infinite;
    top: 45%;
    bottom: 55%;
}

.MuiSvgIcon-root {
    cursor: pointer;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}
