.player {
    display: flex;
    flex-direction: column;
    &__body {
        display: flex;
        flex-grow: 1;
    }
}

.error_msg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 500px;
    text-align: center;
    top: 30%;
}
