* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:-webkit-scrollbar {
  display: none;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: black;
}

.login img {
  width: 300px;
  position: absolute;
  top: 50px;
  left: calc(50% - 150px);
}

.login a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  background-color: #1db954;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 100px;
  left: calc(50% - 93px);
}

@media screen and (min-width: 768px) {
  .login {
    background: url(../assets/Images//music.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .login img {
    left: calc(30% - 150px);
  }
  .login a {
    left: calc(30% - 93px);
  }
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: calc(100vh - 100px);
}

.error_msg,
.spinner-grow {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.error_msg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  top: 30%;
  z-index: 9;
  max-width: calc(min(500px, 90%));
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 0.75s linear infinite;
          animation: spinner-grow 0.75s linear infinite;
  top: 45%;
  bottom: 55%;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.body {
  width: 100%;
  overflow-y: auto;
  overflow-y: overlay;
  color: white;
  background-color: #603f8b;
  scrollbar-width: none;
}

.body:-webkit-scrollbar {
  display: none;
}

.body__inner {
  padding: 30px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100%;
  background: linear-gradient(transparent, #121212 calc(max(20%, 420px)));
}

.body__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
}

.body__info img {
  height: 20vw;
  margin: 0 20px;
  -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__shuffle:hover {
  -webkit-transition: 100ms -webkit-transform ease-in;
  transition: 100ms -webkit-transform ease-in;
  transition: 100ms transform ease-in;
  transition: 100ms transform ease-in, 100ms -webkit-transform ease-in;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.body__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__icons .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__background {
  position: absolute;
  top: 13vh;
  right: 0;
  opacity: 0.4;
  height: 80%;
  width: 80%;
  background-color: black;
}

.body__songs {
  z-index: 1;
  margin: 20px -30px;
}

.body__infoText {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.body__infoText h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infoText p {
  font-size: 14px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 80px;
}

.header form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header form button {
  background: rgba(91, 87, 115, 0.9);
  border: none;
  border-radius: 30px;
  padding: 12px 10px;
  cursor: pointer;
  color: white;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.header__left {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 0.5rem;
  border-radius: 30px;
  color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}

.header__left input {
  border: none;
  width: 100%;
}

.header__right h4 {
  margin-left: 10px;
}

.header__search {
  margin: 0;
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

.header .displayName {
  cursor: pointer;
  display: none;
}

.header .logOut {
  font-size: 14px;
  color: black;
  border-radius: 5px;
  background-color: #aaa;
  padding: 4px 8px;
  cursor: pointer;
}

.header .logOut:hover {
  background-color: #777;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

@media screen and (min-width: 768px) {
  .header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 2rem;
  }
  .header .displayName {
    display: block;
  }
  .header .logOut {
    position: absolute;
    top: 80px;
    right: 32px;
  }
  .header__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  color: white;
  background-color: #040404;
  position: absolute;
  left: -100%;
  z-index: 9;
  height: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__logo {
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
  height: 70px;
  padding: 10px;
}

.sidebar__open, .sidebar__close {
  z-index: 999;
  color: white;
  position: absolute;
  top: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar__open {
  left: 10px;
}

.sidebar__close {
  right: 10px;
}

.sidebar hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.show {
  left: 0;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar {
    left: 0;
    position: relative;
    min-width: 250px;
  }
  .sidebar__open, .sidebar__close {
    display: none;
  }
}

.sidebarOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  color: grey;
  -webkit-transition: 200ms color ease-in;
  transition: 200ms color ease-in;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.sidebarOption p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.songRow {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  color: white;
  margin: 0 10px;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info h1 {
  font-size: 16px;
}

.songRow__info p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .songRow {
    margin: 0 0 0 20px;
    padding: 20px;
  }
}

.footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: #282828;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 9;
  height: 100px;
}

.footer__right {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.footer__right .MuiSlider-root {
  color: green;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.footer__green {
  color: #1ed15e;
}

.footer__center {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  max-width: 500px;
  width: 100%;
  padding: 0 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icon:hover, .footer__green:hover {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
}

.footer__albumLogo {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__songInfo h4 {
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.footer__songInfo p {
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.footer #songPlay {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px;
  }
  .footer__albumLogo {
    height: 60px;
    width: 60px;
  }
  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  __center {
    padding: 0 100px;
  }
}
