.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  color: gray;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right > h4 {
  margin-left: 10px;
}

.header__search {
  margin: 0;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.displayName {
  cursor: pointer;
}

.logOut {
  position: absolute;
  top: 70px;
  right: 32px;
  font-size: 14px;
  color: black;
  border-radius: 5px;
  background-color: #aaa;
  padding: 4px 8px;
  cursor: pointer;
}
.logOut:hover {
  background-color: #777;
  transform: scale(0.99);
}
