.footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: #282828;
  box-sizing: border-box;
  z-index: 9;
}

.footer__right * .MuiSlider-root {
  color: green;
}
.footer__left {
  display: flex;
  align-items: center;
  color: white;
  /* width: 300px; */
  flex: 0.3;
}

.footer__green {
  color: #1ed15e;
}

.footer__center {
  flex: 0.4;
  max-width: 500px;
  width: 100%;
  padding: 0 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__right {
  display: none;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex: 0.3;
}

.footer__albumLogo {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  object-fit: contain;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.footer__songInfo > p {
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#songPlay {
  display: none;
}
